.cu-clearfix:before,
.cu-clearfix:after {
  content: " ";
  display: table
}

.cu-clearfix:after {
  clear: both
}

.cu-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.cu-btn:focus,
.cu-btn.cu-focus,
.cu-btn:active:focus,
.cu-btn:active.cu-focus,
.cu-btn.cu-active:focus,
.cu-btn.cu-active.cu-focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px
}

.cu-btn:hover,
.cu-btn:focus,
.cu-btn.cu-focus {
  color: #333;
  text-decoration: none
}

.cu-btn:active,
.cu-btn.cu-active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
}

.cu-btn.cu-disabled,
.cu-btn[disabled],
.cu-btn[readonly],
fieldset[disabled] .cu-btn {
  cursor: not-allowed;
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=65);
  opacity: .65;
  -webkit-box-shadow: none;
  box-shadow: none
}

a.cu-btn {
  text-decoration: none
}

a.cu-btn.cu-disabled,
fieldset[disabled] a.cu-btn {
  pointer-events: none
}

.cu-btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc
}

.cu-btn-default:focus,
.cu-btn-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c
}

.cu-btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad
}

.cu-btn-default:active,
.cu-btn-default.active,
.cu-open>.cu-btn-default.cu-dropdown-toggle {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad
}

.cu-btn-default:active:hover,
.cu-btn-default:active:focus,
.cu-btn-default:active.focus,
.cu-btn-default.active:hover,
.cu-btn-default.active:focus,
.cu-btn-default.active.focus,
.cu-open>.cu-btn-default.cu-dropdown-toggle:hover,
.cu-open>.cu-btn-default.cu-dropdown-toggle:focus,
.cu-open>.cu-btn-default.cu-dropdown-toggle.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c
}

.cu-btn-default:active,
.cu-btn-default.cu-active,
.cu-open>.cu-btn-default.cu-dropdown-toggle {
  background-image: none
}

.cu-btn-default.cu-disabled:hover,
.cu-btn-default.cu-disabled:focus,
.cu-btn-default.cu-disabled.cu-focus,
.cu-btn-default[disabled]:hover,
.cu-btn-default[disabled]:focus,
.cu-btn-default[disabled].cu-focus,
fieldset[disabled] .cu-btn-default:hover,
fieldset[disabled] .cu-btn-default:focus,
fieldset[disabled] .cu-btn-default.cu-focus {
  background-color: #fff;
  border-color: #ccc
}

.cu-btn-default .cu-badge {
  color: #fff;
  background-color: #333
}

.cu-btn-primary {
  color: #fff;
  background-color: #00709e;
  border-color: #005e85
}

.cu-btn-primary:focus,
.cu-btn-primary.focus {
  color: #fff;
  background-color: #004c6b;
  border-color: #000405
}

.cu-btn-primary:hover {
  color: #fff;
  background-color: #004c6b;
  border-color: #003347
}

.cu-btn-primary:active,
.cu-btn-primary.active,
.cu-open>.cu-btn-primary.cu-dropdown-toggle {
  color: #fff;
  background-color: #004c6b;
  border-color: #003347
}

.cu-btn-primary:active:hover,
.cu-btn-primary:active:focus,
.cu-btn-primary:active.focus,
.cu-btn-primary.active:hover,
.cu-btn-primary.active:focus,
.cu-btn-primary.active.focus,
.cu-open>.cu-btn-primary.cu-dropdown-toggle:hover,
.cu-open>.cu-btn-primary.cu-dropdown-toggle:focus,
.cu-open>.cu-btn-primary.cu-dropdown-toggle.focus {
  color: #fff;
  background-color: #003347;
  border-color: #000405
}

.cu-btn-primary:active,
.cu-btn-primary.cu-active,
.cu-open>.cu-btn-primary.cu-dropdown-toggle {
  background-image: none
}

.cu-btn-primary.cu-disabled:hover,
.cu-btn-primary.cu-disabled:focus,
.cu-btn-primary.cu-disabled.cu-focus,
.cu-btn-primary[disabled]:hover,
.cu-btn-primary[disabled]:focus,
.cu-btn-primary[disabled].cu-focus,
fieldset[disabled] .cu-btn-primary:hover,
fieldset[disabled] .cu-btn-primary:focus,
fieldset[disabled] .cu-btn-primary.cu-focus {
  background-color: #00709e;
  border-color: #005e85
}

.cu-btn-primary .cu-badge {
  color: #00709e;
  background-color: #fff
}

.cu-btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c
}

.cu-btn-success:focus,
.cu-btn-success.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625
}

.cu-btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439
}

.cu-btn-success:active,
.cu-btn-success.active,
.cu-open>.cu-btn-success.cu-dropdown-toggle {
  color: #fff;
  background-color: #449d44;
  border-color: #398439
}

.cu-btn-success:active:hover,
.cu-btn-success:active:focus,
.cu-btn-success:active.focus,
.cu-btn-success.active:hover,
.cu-btn-success.active:focus,
.cu-btn-success.active.focus,
.cu-open>.cu-btn-success.cu-dropdown-toggle:hover,
.cu-open>.cu-btn-success.cu-dropdown-toggle:focus,
.cu-open>.cu-btn-success.cu-dropdown-toggle.focus {
  color: #fff;
  background-color: #398439;
  border-color: #255625
}

.cu-btn-success:active,
.cu-btn-success.cu-active,
.cu-open>.cu-btn-success.cu-dropdown-toggle {
  background-image: none
}

.cu-btn-success.cu-disabled:hover,
.cu-btn-success.cu-disabled:focus,
.cu-btn-success.cu-disabled.cu-focus,
.cu-btn-success[disabled]:hover,
.cu-btn-success[disabled]:focus,
.cu-btn-success[disabled].cu-focus,
fieldset[disabled] .cu-btn-success:hover,
fieldset[disabled] .cu-btn-success:focus,
fieldset[disabled] .cu-btn-success.cu-focus {
  background-color: #5cb85c;
  border-color: #4cae4c
}

.cu-btn-success .cu-badge {
  color: #5cb85c;
  background-color: #fff
}

.cu-btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da
}

.cu-btn-info:focus,
.cu-btn-info.focus {
  color: #fff;
  background-color: #31b0d5;
  border-color: #1b6d85
}

.cu-btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc
}

.cu-btn-info:active,
.cu-btn-info.active,
.cu-open>.cu-btn-info.cu-dropdown-toggle {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc
}

.cu-btn-info:active:hover,
.cu-btn-info:active:focus,
.cu-btn-info:active.focus,
.cu-btn-info.active:hover,
.cu-btn-info.active:focus,
.cu-btn-info.active.focus,
.cu-open>.cu-btn-info.cu-dropdown-toggle:hover,
.cu-open>.cu-btn-info.cu-dropdown-toggle:focus,
.cu-open>.cu-btn-info.cu-dropdown-toggle.focus {
  color: #fff;
  background-color: #269abc;
  border-color: #1b6d85
}

.cu-btn-info:active,
.cu-btn-info.cu-active,
.cu-open>.cu-btn-info.cu-dropdown-toggle {
  background-image: none
}

.cu-btn-info.cu-disabled:hover,
.cu-btn-info.cu-disabled:focus,
.cu-btn-info.cu-disabled.cu-focus,
.cu-btn-info[disabled]:hover,
.cu-btn-info[disabled]:focus,
.cu-btn-info[disabled].cu-focus,
fieldset[disabled] .cu-btn-info:hover,
fieldset[disabled] .cu-btn-info:focus,
fieldset[disabled] .cu-btn-info.cu-focus {
  background-color: #5bc0de;
  border-color: #46b8da
}

.cu-btn-info .cu-badge {
  color: #5bc0de;
  background-color: #fff
}

.cu-btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236
}

.cu-btn-warning:focus,
.cu-btn-warning.focus {
  color: #fff;
  background-color: #ec971f;
  border-color: #985f0d
}

.cu-btn-warning:hover {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512
}

.cu-btn-warning:active,
.cu-btn-warning.active,
.cu-open>.cu-btn-warning.cu-dropdown-toggle {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512
}

.cu-btn-warning:active:hover,
.cu-btn-warning:active:focus,
.cu-btn-warning:active.focus,
.cu-btn-warning.active:hover,
.cu-btn-warning.active:focus,
.cu-btn-warning.active.focus,
.cu-open>.cu-btn-warning.cu-dropdown-toggle:hover,
.cu-open>.cu-btn-warning.cu-dropdown-toggle:focus,
.cu-open>.cu-btn-warning.cu-dropdown-toggle.focus {
  color: #fff;
  background-color: #d58512;
  border-color: #985f0d
}

.cu-btn-warning:active,
.cu-btn-warning.cu-active,
.cu-open>.cu-btn-warning.cu-dropdown-toggle {
  background-image: none
}

.cu-btn-warning.cu-disabled:hover,
.cu-btn-warning.cu-disabled:focus,
.cu-btn-warning.cu-disabled.cu-focus,
.cu-btn-warning[disabled]:hover,
.cu-btn-warning[disabled]:focus,
.cu-btn-warning[disabled].cu-focus,
fieldset[disabled] .cu-btn-warning:hover,
fieldset[disabled] .cu-btn-warning:focus,
fieldset[disabled] .cu-btn-warning.cu-focus {
  background-color: #f0ad4e;
  border-color: #eea236
}

.cu-btn-warning .cu-badge {
  color: #f0ad4e;
  background-color: #fff
}

.cu-btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a
}

.cu-btn-danger:focus,
.cu-btn-danger.focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #761c19
}

.cu-btn-danger:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925
}

.cu-btn-danger:active,
.cu-btn-danger.active,
.cu-open>.cu-btn-danger.cu-dropdown-toggle {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925
}

.cu-btn-danger:active:hover,
.cu-btn-danger:active:focus,
.cu-btn-danger:active.focus,
.cu-btn-danger.active:hover,
.cu-btn-danger.active:focus,
.cu-btn-danger.active.focus,
.cu-open>.cu-btn-danger.cu-dropdown-toggle:hover,
.cu-open>.cu-btn-danger.cu-dropdown-toggle:focus,
.cu-open>.cu-btn-danger.cu-dropdown-toggle.focus {
  color: #fff;
  background-color: #ac2925;
  border-color: #761c19
}

.cu-btn-danger:active,
.cu-btn-danger.cu-active,
.cu-open>.cu-btn-danger.cu-dropdown-toggle {
  background-image: none
}

.cu-btn-danger.cu-disabled:hover,
.cu-btn-danger.cu-disabled:focus,
.cu-btn-danger.cu-disabled.cu-focus,
.cu-btn-danger[disabled]:hover,
.cu-btn-danger[disabled]:focus,
.cu-btn-danger[disabled].cu-focus,
fieldset[disabled] .cu-btn-danger:hover,
fieldset[disabled] .cu-btn-danger:focus,
fieldset[disabled] .cu-btn-danger.cu-focus {
  background-color: #d9534f;
  border-color: #d43f3a
}

.cu-btn-danger .cu-badge {
  color: #d9534f;
  background-color: #fff
}

.cu-btn-callout {
  font-weight: bold;
  text-transform: uppercase
}

.cu-btn-link {
  color: #00709e;
  font-weight: normal;
  border-radius: 0
}

.cu-btn-link,
.cu-btn-link:active,
.cu-btn-link.cu-active,
.cu-btn-link[disabled],
fieldset[disabled] .cu-btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none
}

.cu-btn-link,
.cu-btn-link:hover,
.cu-btn-link:focus,
.cu-btn-link:active {
  border-color: transparent
}

.cu-btn-link:hover,
.cu-btn-link:focus {
  color: #003a52;
  text-decoration: underline;
  background-color: transparent
}

.cu-btn-link[disabled]:hover,
.cu-btn-link[disabled]:focus,
fieldset[disabled] .cu-btn-link:hover,
fieldset[disabled] .cu-btn-link:focus {
  color: #777;
  text-decoration: none
}

.cu-btn-lg,
.cu-btn-group-lg>.cu-btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33333;
  border-radius: 6px
}

.cu-btn-sm,
.cu-btn-group-sm>.cu-btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  text-transform: none
}

.cu-btn-xs,
.cu-btn-group-xs>.cu-btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  text-transform: none
}

.cu-btn-block {
  display: block;
  width: 100%
}

.cu-btn-block+.cu-btn-block {
  margin-top: 5px
}

input[type="submit"].cu-btn-block,
input[type="reset"].cu-btn-block,
input[type="button"].cu-btn-block {
  width: 100%
}

.cu-btn-group,
.cu-btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle
}

.cu-btn-group>.cu-btn,
.cu-btn-group-vertical>.cu-btn {
  position: relative;
  float: left
}

.cu-btn-group>.cu-btn:hover,
.cu-btn-group>.cu-btn:focus,
.cu-btn-group>.cu-btn:active,
.cu-btn-group>.cu-btn.cu-active,
.cu-btn-group-vertical>.cu-btn:hover,
.cu-btn-group-vertical>.cu-btn:focus,
.cu-btn-group-vertical>.cu-btn:active,
.cu-btn-group-vertical>.cu-btn.cu-active {
  z-index: 2
}

.cu-btn-group .cu-btn+.cu-btn,
.cu-btn-group .cu-btn+.cu-btn-group,
.cu-btn-group .cu-btn-group+.cu-btn,
.cu-btn-group .cu-btn-group+.cu-btn-group {
  margin-left: -1px
}

.cu-btn-toolbar {
  margin-left: -5px
}

.cu-btn-toolbar:before,
.cu-btn-toolbar:after {
  content: " ";
  display: table
}

.cu-btn-toolbar:after {
  clear: both
}

.cu-btn-toolbar .cu-btn,
.cu-btn-toolbar .cu-btn-group,
.cu-btn-toolbar .cu-input-group {
  float: left
}

.cu-btn-toolbar>.cu-btn,
.cu-btn-toolbar>.cu-btn-group,
.cu-btn-toolbar>.cu-input-group {
  margin-left: 5px
}

.cu-btn-group>.cu-btn:not(:first-child):not(:last-child):not(.cu-dropdown-toggle) {
  border-radius: 0
}

.cu-btn-group>.cu-btn:first-child {
  margin-left: 0
}

.cu-btn-group>.cu-btn:first-child:not(:last-child):not(.cu-dropdown-toggle) {
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0
}

.cu-btn-group>.cu-btn:last-child:not(:first-child),
.cu-btn-group>.cu-dropdown-toggle:not(:first-child) {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0
}

.cu-btn-group>.cu-btn-group {
  float: left
}

.cu-btn-group>.cu-btn-group:not(:first-child):not(:last-child)>.cu-btn {
  border-radius: 0
}

.cu-btn-group>.cu-btn-group:first-child:not(:last-child)>.cu-btn:last-child,
.cu-btn-group>.cu-btn-group:first-child:not(:last-child)>.cu-dropdown-toggle {
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0
}

.cu-btn-group>.cu-btn-group:last-child:not(:first-child)>.cu-btn:first-child {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0
}

.cu-btn-group .cu-dropdown-toggle:active,
.cu-btn-group.cu-open .cu-dropdown-toggle {
  outline: 0
}

.cu-btn-group>.cu-btn+.cu-dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px
}

.cu-btn-group>.cu-btn-lg+.cu-dropdown-toggle,
.cu-btn-group-lg.cu-btn-group>.cu-btn+.cu-dropdown-toggle {
  padding-left: 12px;
  padding-right: 12px
}

.cu-btn-group.open .cu-dropdown-toggle {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
}

.cu-btn-group.open .cu-dropdown-toggle.cu-btn-link {
  -webkit-box-shadow: none;
  box-shadow: none
}

.cu-btn .cu-caret {
  margin-left: 0
}

.cu-btn-lg .cu-caret,
.cu-btn-group-lg>.cu-btn .cu-caret {
  border-width: 5px 5px 0;
  border-bottom-width: 0
}

.cu-dropup .cu-btn-lg .cu-caret,
.cu-dropup .cu-btn-group-lg>.cu-btn .cu-caret {
  border-width: 0 5px 5px
}

.cu-btn-group-vertical>.cu-btn,
.cu-btn-group-vertical>.cu-btn-group,
.cu-btn-group-vertical>.cu-btn-group>.cu-btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%
}

.cu-btn-group-vertical>.cu-btn-group:before,
.cu-btn-group-vertical>.cu-btn-group:after {
  content: " ";
  display: table
}

.cu-btn-group-vertical>.cu-btn-group:after {
  clear: both
}

.cu-btn-group-vertical>.cu-btn-group>.cu-btn {
  float: none
}

.cu-btn-group-vertical>.cu-btn+.cu-btn,
.cu-btn-group-vertical>.cu-btn+.cu-btn-group,
.cu-btn-group-vertical>.cu-btn-group+.cu-btn,
.cu-btn-group-vertical>.cu-btn-group+.cu-btn-group {
  margin-top: -1px;
  margin-left: 0
}

.cu-btn-group-vertical>.cu-btn:not(:first-child):not(:last-child) {
  border-radius: 0
}

.cu-btn-group-vertical>.cu-btn:first-child:not(:last-child) {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0
}

.cu-btn-group-vertical>.cu-btn:last-child:not(:first-child) {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px
}

.cu-btn-group-vertical>.cu-btn-group:not(:first-child):not(:last-child)>.cu-btn {
  border-radius: 0
}

.cu-btn-group-vertical>.cu-btn-group:first-child:not(:last-child)>.cu-btn:last-child,
.cu-btn-group-vertical>.cu-btn-group:first-child:not(:last-child)>.cu-dropdown-toggle {
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0
}

.cu-btn-group-vertical>.cu-btn-group:last-child:not(:first-child)>.cu-btn:first-child {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0
}

.cu-btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate
}

.cu-btn-group-justified>.cu-btn,
.cu-btn-group-justified>.cu-btn-group {
  float: none;
  display: table-cell;
  width: 1%
}

.cu-btn-group-justified>.cu-btn-group .cu-btn {
  width: 100%
}

.cu-btn-group-justified>.cu-btn-group .cu-dropdown-menu {
  left: auto
}

[data-toggle="buttons"]>.cu-btn input[type="radio"],
[data-toggle="buttons"]>.cu-btn input[type="checkbox"],
[data-toggle="buttons"]>.cu-btn-group>.cu-btn input[type="radio"],
[data-toggle="buttons"]>.cu-btn-group>.cu-btn input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none
}

.cu-pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px
}

.cu-pagination>li {
  display: inline
}

.cu-pagination>li>a,
.cu-pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857;
  text-decoration: none;
  color: #00709e;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px
}

.cu-pagination>li:first-child>a,
.cu-pagination>li:first-child>span {
  margin-left: 0;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px
}

.cu-pagination>li:last-child>a,
.cu-pagination>li:last-child>span {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px
}

.cu-pagination>li>a:hover,
.cu-pagination>li>a:focus,
.cu-pagination>li>span:hover,
.cu-pagination>li>span:focus {
  z-index: 2;
  color: #003a52;
  background-color: #e2e2e2;
  border-color: #ddd
}

.cu-pagination>.cu-active>a,
.cu-pagination>.cu-active>a:hover,
.cu-pagination>.cu-active>a:focus,
.cu-pagination>.cu-active>span,
.cu-pagination>.cu-active>span:hover,
.cu-pagination>.cu-active>span:focus {
  z-index: 3;
  color: #fff;
  background-color: #00709e;
  border-color: #00709e;
  cursor: default
}

.cu-pagination>.cu-disabled>span,
.cu-pagination>.cu-disabled>span:hover,
.cu-pagination>.cu-disabled>span:focus,
.cu-pagination>.cu-disabled>a,
.cu-pagination>.cu-disabled>a:hover,
.cu-pagination>.cu-disabled>a:focus {
  color: #777;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed
}

.cu-pagination-lg>li>a,
.cu-pagination-lg>li>span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33333
}

.cu-pagination-lg>li:first-child>a,
.cu-pagination-lg>li:first-child>span {
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px
}

.cu-pagination-lg>li:last-child>a,
.cu-pagination-lg>li:last-child>span {
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px
}

.cu-pagination-sm>li>a,
.cu-pagination-sm>li>span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5
}

.cu-pagination-sm>li:first-child>a,
.cu-pagination-sm>li:first-child>span {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px
}

.cu-pagination-sm>li:last-child>a,
.cu-pagination-sm>li:last-child>span {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px
}

#cu-adminbar-icon {
  float: left;
  width: 20px;
  height: 30px;
  background-image: url(../images/Web_logo.png);
  background-repeat: no-repeat;
  background-position: left center;
}

#wpadminbar .cu-notification-counter {
  display: inline;
  background-color: inherit
}

#wpadminbar .cu-notification-counter span.cu-count {
  padding: 1px 7px 1px 6px !important;
  border-radius: 50%;
  color: #fff;
  background-color: #fcb214
}

#wpadminbar .ab-sub-wrapper #wp-admin-bar-ccollinsupdater-menu-default .ab-item {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between
}

#wpadminbar .ab-sub-wrapper #wp-admin-bar-ccollinsupdater-menu-default .ab-item .cu-adminbar-submenu-title {
  -webkit-flex-grow: 1;
  flex-grow: 1
}

#wpadminbar .ab-sub-wrapper #wp-admin-bar-ccollinsupdater-menu-default .ab-item .cu-notification-counter {
  display: block
}

#wpadminbar .ab-sub-wrapper #wp-admin-bar-ccollinsupdater-menu-default .ab-item .cu-adminbar-status {
  width: 1.25rem;
  font-size: 1.25rem;
  text-align: center
}

#wpadminbar .ab-sub-wrapper #wp-admin-bar-ccollinsupdater-menu-default .ab-item .cu-adminbar-status-neutral {
  color: #9f9fa0
}

#wpadminbar .ab-sub-wrapper #wp-admin-bar-ccollinsupdater-menu-default .ab-item .cu-adminbar-status-good {
  color: #16bc9b
}

#wpadminbar .ab-sub-wrapper #wp-admin-bar-ccollinsupdater-menu-default .ab-item .cu-adminbar-status-bad {
  color: #ffd10a
}

#toplevel_page_ccollins-updater .wp-menu-image img {
  width: 21px;
  padding-top: 7px;
  filter: invert(72%) sepia(42%) saturate(413%) hue-rotate(54deg) brightness(87%) contrast(92%); /* #85bb65 */ 
}

#adminmenu .update-plugins.cu-menu-badge {
  background-color: #fcb214 !important
}

.cu-hidden {
  display: none !important
}
 
.cupopover {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 106000;
  display: none;
  max-width: 276px;
  padding: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.42857;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 14px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
}

.cupopover.cu-top {
  margin-top: -10px
}

.cupopover.cu-right {
  margin-left: 10px
}

.cupopover.cu-bottom {
  margin-top: 10px
}

.cupopover.cu-left {
  margin-left: -10px
}

.cupopover-title {
  margin: 0;
  padding: 8px 14px;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0
}

.cupopover-content {
  padding: 9px 14px
}

.cupopover>.cu-arrow,
.cupopover>.cu-arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid
}

.cupopover>.cu-arrow {
  border-width: 11px
}

.cupopover>.cu-arrow:after {
  border-width: 10px;
  content: ""
}

.cupopover.cu-top>.cu-arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, 0.25);
  bottom: -11px
}

.cupopover.cu-top>.cu-arrow:after {
  content: " ";
  bottom: 1px;
  margin-left: -10px;
  border-bottom-width: 0;
  border-top-color: #fff
}

.cupopover.cu-right>.cu-arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, 0.25)
}

.cupopover.cu-right>.cu-arrow:after {
  content: " ";
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #fff
}

.cupopover.cu-bottom>.cu-arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -11px
}

.cupopover.cu-bottom>.cu-arrow:after {
  content: " ";
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #fff
}

.cupopover.cu-left>.cu-arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, 0.25)
}

.cupopover.cu-left>.cu-arrow:after {
  content: " ";
  right: 1px;
  border-right-width: 0;
  border-left-color: #fff;
  bottom: -10px
}
